@import "./../../../../../assets/sass/components/variables";

.search-bar {
  background-color: white;
  border-radius: 8px;
  text-align: center;

  .MuiInput-root {
    width: 100%;
    .MuiInput-input {
      color: "$primary-color";
      width: 100%;
    }
  }
}
