@import "./../../../../../assets/sass/components/variables";

.product-actions {
  display: flex;

  button {
    background-color: $primary-color;
    color: white;
    

    &:disabled {
      background-color: #cacaca;
    }
  }
}