nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  width: 50%;
  margin: 0 auto;

  .nav-link {
    text-decoration: none;
    color: #ffffff;
  }
}