@import "./../../../assets/sass/components/fonts";

.template {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: $font-family;

  .content {
    height: 100%;
    flex: 1 auto;
  }

  a {
    color: white;
    :visited {
      color: white;
    }
  }
}
